@font-face {
  font-family: "pretendard";
  src: url("assets/Pretendard-Medium.otf");
}

@font-face {
  font-family: "typewr_b";
  src: url("assets/TYPEWR_B.TTF");
}

@font-face {
  font-family: "myfontrunes";
  src: url("assets/Myfontrunes-Regular.ttf");
}

@font-face {
  font-family: "barcord";
  src: url("assets/BarcodeFont.ttf");
}

@font-face {
  font-family: "orbit";
  src: url("assets/Orbit-Regular.ttf");
}

:root {
  --receipt-max-height: 600px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: pretendard, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

canvas {
  display: block;
}

div {
  box-sizing: border-box;
}

.api-key-input {
  position: absolute;
  transform: translate3d(-50%, 50%, 0);
  display: flex;
  height: 20px;
  width:300px;
  background-color: white;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 0.9rem;
  font-family: 'pretendard';
  text-align: center;
}

.gpt-chatlog-wrapper {
  display: flex;
  flex-direction: column;
  /* width: 700px; */
  /* height: 300px; */
  margin: 0;
  gap: 6px;
  overflow-y: auto;
  word-break: break-all;
  padding: 16px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateX(-50%);
}

.gpt-status {
  transform: translateX(-50%);
  color: white;
}

::-webkit-scrollbar {
  width: 6px;
  height: 100%;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0);
  border: rgba(255, 255, 255, 0.3) solid 1px;
  border-radius: 3px;
}

.gpt-chatlog-chat {
  color: white;
  font-size: 0.95rem;
  line-height: 140%;
  letter-spacing: 0.05rem;
}

.prev {
  color: rgb(128, 128, 128);
}

.gpt-text-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  /* gap: 10px; */
  width: 700px;
  height: fit-content;
  background-color: white;
  transform: translateX(-50%);
}

.gpt-text-input {
  display: flex;
  width: 600px;
  background-color: inherit;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 0.9rem;
}

.gpt-text-submit {
  margin: 0;
  padding-right: 10px;
  height: 38.5px;
  background-color: inherit;
  border: #000;
}

.gpt-text-submit:hover {
  cursor: pointer;
}

.nextBtn {
  margin: 0;
  padding: 6px;
  background-color: white;
  transform: translateX(-50%);
}

.nextBtn:hover {
  cursor: pointer;
  background-color: rgb(232, 232, 232);
}

.hidden {
  display: none;
}

.receipt-container {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin: 0;
  padding: 10px 5px;
  transform: translate3d(-50%, -50%, 0);
  width: calc(100vw / 3);
  height: calc(100vh * 3) / 4;
  min-width: 200px;
  max-width: 350px;
  height: auto;
  max-height: var(--receipt-max-height);
  overflow-y: auto;
  background-color: #fff;
  text-align: center;
  border: 1px dashed black;
}

.receipt-title {
  height: fit-content;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: "typewr_b";
  font-size: 30px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dashed #000;
}

.judge-summary {
  position: relative;
  display: flex;
  margin: 0;
  padding: 30px 20px;
  text-align: center;
  flex-flow: column nowrap;
  justify-content: center;
  height: min-content;
  align-items: center;
  /* background-color: rgba(255,255,255,0.8); */
  text-align: justify;
  font-family: "orbit";
  font-size: 13px;
  line-height: 90%;
  /* border-left: 1px dotted black;*/
  border-bottom: 1px dashed black;
  line-height: 1.3;
}

.receipt-value-header {
  width: 100%;
  padding: 5px 20px 10px;
  font-family: "orbit";
  font-size: 14px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px dashed black;
}

.receipt-keywords {
  width: 100%;
  height: fit-content;
  padding: 10px 20px;
  text-align: left;
  font-family: "orbit";
  font-size: 13px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: space-between;
  border-bottom: 1px dashed black;
}
.receipt-keyword-element {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.total-amount {
  width: 100%;
  height: fit-content;
  padding: 5px 20px;
  text-align: right;
  font-family: "orbit";
  font-size: 16px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  /* border-bottom: 1px dotted black; */
}

.receipt-date {
  width: 100%;
  height: fit-content;
  padding: 10px 20px;
  text-align: right;
  font-family: "orbit";
  font-size: 14px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px dashed black;
}

.receipt-bottom {
  width: 100%;
  display: grid;
  padding: 20px;
  background-color: inherit;
  gap: 5px;
  /* grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 1fr 3fr; */
  grid-template-columns: 1fr 2fr; /* 두 개의 column 설정 */
  grid-template-rows: auto; /* 자동으로 row 크기 조정 */
}

.receipt-bottom-element {
  /* display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center; */
  border: none;
  padding: 0;
  margin-top: auto;
  margin-bottom: 5px;
  /* text-align: center; */
  font-family: "orbit";
  font-size: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

/*.profile-bottom-element{
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-end;
  border: none;
  padding: 0;
  margin: 0;
  /* text-align: center; */
/* font-family: "typewr_b";
  font-size: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
} */

.profile-bottom-element {
  display: flex;
  flex-flow: column nowrap; /* 세로로 배열 */
  align-items: flex-start; /* 오른쪽 정렬 */
  border: none;
  padding: 0;
  margin: 0;
  /* text-align: center; */
  font-family: "orbit";
  font-size: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.profile-bottom-element div {
  text-align: right; /* 텍스트를 오른쪽 정렬로 표시 */
  margin-bottom: 0px; /* 원하는 여백 값으로 조정 */
}

.receipt-icon {
  width: 80%;
  margin-top: 10px;
}

.receipt-right-bottom {
  display: flex;
  flex-flow: column nowrap; /* 세로로 배열 */
  align-items: flex-end; /* 오른쪽 정렬 */
  font-family: "orbit";
  font-size: 10px;
  text-align: right;
}

.values {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.after-instruction {
  display: flex;
  position: absolute;
  top: calc((100vh - var(--receipt-max-height)) / 4);
  left: calc(100vw / 2);
  transform: translate3d(-50%, -50%, 0);
  color: white;
  /* font-family: 'orbit'; */

  font-family: pretendard, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.print-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 40px;
  bottom: calc((100vh - var(--receipt-max-height)) / 4);
  left: calc(100vw / 2);
  transform: translate3d(-50%, 50%, 0);
  font-family: "orbit";
  /* font-size: 14px; */
  line-height: 1;
  background-color: #fff;
  color: black;
  border: none;
}
.print-button:hover {
  cursor: pointer;
  background-color: grey;
  color: white;
}
