@font-face {
    font-family: 'Orbit-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'EF_watermelonSalad';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_watermelonSalad.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


*{
    font-family: 'Orbit-Regular';
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin:0;
    padding:0 10px;
}

header{
    font-family: 'EF_watermelonSalad';
    font-size: 1.5rem;
    width: 100%;
    height: fit-content;
    font-weight:bold;
    text-align: center;
    margin: 0;
    padding: 40px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.intro-text-profile{
    display: flex;
    margin: 15px 0px;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.intro-text-profile p{
    text-align: left;
    margin:0;
    width: fit-content;
}

.profile-image-container{
    width: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.profile-image-container img{
    /* position: relative; */
    width: 100%;
    margin-top: -10px;
    /* display: flex; */
}

section{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* max-width: 650px; */
    margin:10px 0px;
    padding:10px 30px 20px;
    border-bottom: 1px dashed black;
    width: 100%;
    height: fit-content;
}

section h2{
    margin:0;
    padding:0px 0px 20px;
    font-size: 1.1rem;
}

section p{
    margin:0;
    width: 100%;
    max-width: 500px;
    padding: 0px 0px 20px;
    text-align: center;
    word-break: keep-all;
}

section ul{
    width: 100%;
    max-width: 700px;
    margin:0;
    padding:0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

li{
    width: 100%;
    word-break: break-all;
}

section ul li ul{
    margin-left: 10px;
}

#introduction ul{
    align-items: center;
    width: auto;
}


footer{
    padding: 20px 0px 30px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


@media (max-width: 575px) {
    section{
        padding: 10px 10px 20px;
    }

    section ul{
        padding: 20px;
    }
}