#body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

header{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.logo span{
    
}

article{


}

footer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}